.jumbotron {
    background-color: #fffa19;;
    margin-top: 50px;
    margin-top: 50px;
    margin-bottom: 0px;
  }
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: #fffa19;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  
  .card-hotel {
    flex: 1 200px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px;
    background-color: #13171a;
  }
  
  .footer-adress-icon {
    padding-right: 10px;
  }
  
  .tab-content {
    padding-top: 10px;
  }
  
  /*# sourceMappingURL=styles.css.map */
  