@red: #e3afa6;

.margenes (@top, @bottom) {
    margin-bottom: @bottom;
    margin-top: @top;
}

.jumbotron{
    background-color: @red;
    color: black;
    .margenes(50px, 0px)
}

.footer{
    padding: 10px 10px 0 10px;
    background-color: @red;
    .margenes(10px, 0px);
}

.card-hotel{
    flex: 1 200px;
    .margenes(10px, 0px);
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}

.card-img-top{
    width: 150px;
    .margenes(10px, 10px);
}

.tab-content{
    padding-top: 10px;
}